@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Zen Maru Gothic;
  }
}

@layer components {
  /* ブログのボディのスタイリング */
  .a-styles {
    @apply underline text-[#00f]
  }
  .ul-styles {
    @apply list-disc ml-4
  }
  .ol-styles {
    @apply list-decimal ml-4
  }
  .hr-styles {
    @apply mt-2
  }
  .h2-styles {
    @apply text-4xl font-bold m-[2rem_0] [border-bottom:solid_4px_#ffebd9] pl-4
  }
  .h3-styles {
    @apply text-3xl font-bold m-[1.5rem_0] [border-left:solid_6px_#ffebd9] rounded-md pl-2
  }
  .p-styles {
    @apply mt-4 leading-7
  }
  .codeblock-styles {
    @apply overflow-x-auto my-4 rounded-md
  }
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color: #ffebd9;
}
div[data-filename] {
  @apply mt-4;
}
div[data-filename] > span {
  @apply inline-block bg-[rgba(255,235,217,0.6)] text-center text-[#4b4b4b] py-1 px-4 rounded-t-lg;
}
div[data-filename] > pre {
  margin-top: 0px;
  border-top-left-radius: 0px;
}